  @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

  $font-stack: "Lucida Grande", Helvetica, Arial, sans-serif;
  $primary-link-color: #00B7FF;
  


body {
  .col-lg-2 {
background-color: #f5f3f3;
}
    font: 16px $font-stack;
    a {
      color: $primary-link-color;
    }
    ul {
      list-style-type: none;
      .checked {
        span {
          text-decoration: line-through;
        }
      }
    }
  }
p.padding2 {
        
    text-align: center;
}
@media screen and (max-width: 768px) {
    body { padding-top: 100px; }
}
.taskList_table {
  td {
    padding: 15px;
    text-align: left;
  }
  tr:hover{
    background-color: #f5f5f4
  }
}