  @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

  $font-stack: "Lucida Grande", Helvetica, Arial, sans-serif;
  $primary-link-color: black;
  


body {
      .col-lg-2 {
                  background-color: #f5f3f3;
                }
      
      font: 16px $font-stack;
      
      a {
          color: $primary-link-color;
        }
      
      ul {
            list-style-type: none;
            .checked {
                        span {
                                text-decoration: line-through;
                              }
                      }
          }
      }

p.padding2 {
             text-align: center;
            }

@media screen and (max-width: 768px) {
                                        body { 
                                                padding-top: 100px;
                                              }
                                      }

.taskList_table {
                  td {
                        padding: 15px;
                        text-align: left;
                      }
                  
                  tr:hover {
                              background-color: #f5f5f4;
                            }
                }


.titleBanner{
              width: 100%;
              height: 100px;
              background-color: #9bd17d;
              border-style: none;
            }


.titleText {
            position: absolute;
            left: 20px;
            top: 20px;
            font-size: 50px;
            font-weight: bold;
            }


.menuBar {
              position: absolute;
              top: 110px;
              left: 50px;
              font-size: 20px;
              margin-left: 20px;
              margin-right: 20px;
        }

.logOutBtn {
              position: absolute;
              top: 110px;
              left: 1200px;
              font-size: 20px;
            }

.menuBanner {
              width: 100%;
              height: 40px;
              background-color: #c7e6b5;
              border-style: solid;
  
            }


.createButton {
                width: 250px;
                height: 40px;
                background-color: #000000;
                border: none;
                border-radius: 6px;
                padding: 15px 10px 32px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
                font-style: Helvetica;
                color: white;
                margin-right: 30px;
              }
  .viewDetails {
    width: 125px;
    height: 40px;
    background-color: #000000;
    border: none;
    border-radius: 6px;
    padding: 15px 10px 32px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-style: Helvetica;
    color: white;
    margin-right: 30px;
  }


.searchBar {
              margin-left: 150px;
              margin-right: 50px;
              margin-top: 0;


              .searchBox{
                         margin-left: 0;
                         margin-right: 0;
                         height: 60px;
                         width: 420px;
                         background-color: white;
                         background-position: 10px 10px; 
                         background-repeat: no-repeat;
                         padding-left: 40px;
                          border-style: solid;
                          border-width: 1px;
                          border-color: #000000;
                        }
            
              .typeDropdown {
                              margin-left: 0;
                              margin-right: 0;
                              height: 60px;
                              width: 140px;
                              border-style: solid;
                              border-width: 1px;
                              border-color: #000000;

                              select {
                                      background: transparent;
                                      border-style: solid;
                                      font-size: 14px;
                                      padding: 0;
                                      }

                            }
              
              .catDropdown {
                              margin-left: 0;
                              margin-right: 0;
                              padding: 0px;
                              height: 60px;
                              width: 225px;
                              border-style: solid;
                              border-width: 1px;
                              border-color: #000000;

                              select {
                                      background: transparent;
                                      border-style: solid;
                                      font-size: 14px;

                                      }

                            }
              
              .searchButton{

                            height: 65px;
                            width: 200px;
                            padding: 0;
                            font-size: 30px;
                            font-weight: bold;
                            background-color: #9bd17d;
                            border-style: solid;
                            border-width: 1px;
                            border-color: #000000;
                            }
            }


.recommendTask{
                margin-left: 175px;
                margin-right: 50px;
                width: 900px;
                padding:0;

                .tableHeader {
                                width: 100%;
                                height: 60px;
                                text-indent: 25px;
                                background: #9bd17d;
                                font-size: 25px;
                              }

                .col1 {
                        width: 200px;
                        padding: 0;


                        .c1row1 {
                                  height: 169px;
                                }

                        .c1row2 {
                                  height:29px;
                                }
                        
                        .c1row3 {
                                  height:28px;
                                }
                      }
                
                .col2 {
                        width: 500px;
                        padding: 0;

                        .c2row1 {
                                  height: 50px;
                                }

                        .c2row2 {
                                  height: 180px;
                                }
                      }
                
                .col3 {
                        width: 200px;
                        padding: 0;

                        .c3row1 {
                                  height: 230px;
                                }
                .viewDetails {
                                width: 150px;
                                height: 40px;
                                background-color: #000000;
                                border: none;
                                border-radius: 6px;
                                padding: 15px 10px 32px 10px;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                font-size: 20px;
                                font-style: Helvetica;
                                color: white;
                                margin-right: 30px;
                              }
                      }
              }

.searchResults {
                margin-left: 175px;
                margin-right: 50px;
                width: 900px;
                padding:0;
                border: solid 1px #000000;

                .tableHeader {
                                width: 100%;
                                height: 60px;
                                text-indent: 25px;
                                background: #9bd17d;
                                font-size: 25px;
                              }
                
                .viewDetails {
                                width: 150px;
                                height: 40px;
                                background-color: #000000;
                                border: none;
                                border-radius: 6px;
                                padding: 15px 10px 32px 10px;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                font-size: 20px;
                                font-style: Helvetica;
                                color: white;
                                margin-right: 30px;
                              }                
                }

.row1 {
        height: 20px;
        padding: 0;
        border: solid 1px #000000;

        .r1col1 {
                  width: 100px;
                  text-align: right;
                }

        .r1col2 {
                  width: auto;
                }

        .r1col3 {
                  width: 100px;
                  text-align:right;
                }
                        
        .r1col4 {
                  width: auto;
                }
      }
                
.row2 {
        height: 20px;
        padding: 0;
        border: solid 1px #000000;

        .r2col1{
                  width: 100px;
                  text-align:left;
                  border-left: solid 1px #000000;
                  border-right: solid 1px #000000;

                }
                        
        .r2col2{
                  width: 100px;
                  text-align: center;
                  border-left: solid 1px #000000;
                  border-right: solid 1px #000000;
                }
                        
        .r2col3{
                  width: 100px;
                  text-align: center;
                  border-left: solid 1px #000000;
                  border-right: solid 1px #000000;
                }
        
        .r2col4{
                  width: 100px;
                  text-align: center;
                  border-left: solid 1px #000000;
                  border-right: solid 1px #000000;
                }
        
        .r2col5{
                  width: 100px;
                  text-align: center;
                  border-left: solid 1px #000000;
                  border-right: solid 1px #000000;
                }

        .r2col6{
                  width: 100px;
                  text-align: center;
                  border-left: solid 1px #000000;
                  border-right: solid 1px #000000;
                }
        
        .r2col7{
                  width: 100px;
                  text-align: center;
                  border-left: solid 1px #000000;
                  border-right: solid 1px #000000;
                }

        .r2col8{
                  width: 100px;
                  text-align: center;
                  border-left: solid 1px #000000;
                  border-right: solid 1px #000000;
                }                        
        
        .r2col9{
                  width: 100px;
                  text-align: right;
                  border-left: solid 1px #000000;
                  border-right: solid 1px #000000;
                }
      }

.row3 {

        padding: 0;

        .col1 {
                width: 200px;
                padding: 0;

                .r3c1row1 {
                          height: 169px;
                         }

                .r3c1row2 {
                          height:29px;
                         }
                        
                .r3c1row3 {
                          height:28px;
                         }
              }
                
        .col2 {
                width: 500px;
                padding: 0;

                .r3c2row1 {
                          height: 50px;
                         }

                .r3c2row2 {
                          height: 180px;
                         }
              }
                
        .col3 {
                width: 200px;
                padding: 0;

                .r3c3row1 {
                          height: 230px;
                        }
              }
      }
                  

.interestTaskHeader {  
                      height: 50px;
                      background-color: #9bd17d;
                      font-size: 24px;
                      font-weight: bold;


                      
                      .col-lg-6 {

                                  height: 50px;
                                  text-decoration: underline;
                                  border: solid 1px #000000;


                                  
                                      
                      }

                      .col-lg-3 {
                                  height: 50px;
                                  text-align: center;
                                  border: solid 1px #000000;

                      }
}

.interestTaskContent {
                      height: 150px;
                      background-color: #c7e6b5;
                      
                      .col-lg-6 {
                                  height: 150px;
                                  border-left: solid 1px #000000;
                                  border-right: solid 1px #000000;
                                  border-bottom: solid 1px #000000;
                                      
                      }

                      .col-lg-3 {
                                  height: 150px;
                                  text-align: center;
                                  border-left: solid 1px #000000;
                                  border-right: solid 1px #000000;
                                  border-bottom: solid 1px #000000;                      
                      }
}

.completeButton {
                width: 125px;
                height: 40px;
                background-color: #228B22;
                border: none;
                border-radius: 6px;
                padding: 15px 10px 32px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
                font-style: Helvetica;
                color: white;
              }

.deleteButton {
                width: 125px;
                height: 40px;
                background-color: #FF0000;
                border: none;
                border-radius: 6px;
                padding: 15px 10px 32px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
                font-style: Helvetica;
                color: white;
}

.postTaskHeader {  
                      height: 50px;
                      background-color: #9bd17d;
                      font-size: 24px;
                      font-weight: bold;

                      .col-lg-4 {

                                  height: 50px;
                                  text-decoration: underline;
                                  border: solid 1px #000000;               
                      }

                      .col-lg-3 {
                                  height: 50px;
                                  text-align: center;
                                  border: solid 1px #000000;
                      }
                      
                      .col-lg-2 {
                                  background-color: #9bd17d;
                                  height: 50px;
                                  text-align: center;
                                  border: solid 1px #000000;
                      }
}
.taskList_table {
  td {
    padding: 15px;
    text-align: left;
  }
  tr:hover{
    background-color: #f5f5f4
  }
}
.arrows { white-space: nowrap; }
.arrows li {
    display: inline-block;
    line-height: 26px;
    margin: 0 9px 0 -10px;
    padding: 0 20px;
    position: relative;
}
.arrows li::before,
.arrows li::after {
    border-right: 1px solid #666666;
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transform: skewX(45deg);   
}
.arrows li::after {
    bottom: 0;
    top: auto;
    transform: skewX(-45deg);
}

.arrows li:last-of-type::before, 
.arrows li:last-of-type::after {
  display: none;
}
.postTaskContent {
                      height: 150px;
                      background-color: #c7e6b5;
                      
                      .col-lg-4 {
                                  height: 100%;
                                  border-left: solid 1px #000000;
                                  border-right: solid 1px #000000;
                                  border-bottom: solid 1px #000000;                                      
                      }

                      .col-lg-3 {
                                  height: 100%;
                                  text-align: center;
                                  border-left: solid 1px #000000;
                                  border-right: solid 1px #000000;
                                  border-bottom: solid 1px #000000;                      
                      }

                      .col-lg-2 {
                                  height: 100%;
                                  background-color: #c7e6b5;
                                  text-align: center;
                                  border-left: solid 1px #000000;
                                  border-right: solid 1px #000000;
                                  border-bottom: solid 1px #000000;                      
                      }
}

.arrows li a { 
   font: bold 24px Sans-Serif;  
   letter-spacing: -1px; 
   text-decoration: none;
}

.arrows li:nth-of-type(1) a { color: hsl(0, 0%, 70%); } 
.arrows li:nth-of-type(2) a { color: hsl(0, 0%, 65%); } 
.arrows li:nth-of-type(3) a { color: hsl(0, 0%, 50%); } 
.arrows li:nth-of-type(4) a { color: hsl(0, 0%, 45%); } 

.col1 {
    width: 200px;
    padding: 0;
    vertical-align: text-top;


    .c1row1 {
              height: 169px;
            }

    .c1row2 {
              height:29px;
            }
    
    .c1row3 {
              height:28px;
            }
  }

.col2 {
    width: 500px;
    padding: 0;
    vertical-align: text-top;

    .c2row1 {
              height: 50px;
            }

    .c2row2 {
              height: 180px;
            }
  }

.col3 {
    width: 200px;
    padding: 0;

    .c3row1 {
              height: 230px;
            }
  }

.task_details {
  td {
    padding: 10px;
  }
}

.taskhistory_table{
  width:100%;
  table-layout: fixed;
  tr {
    th {
      width:200px;
      padding:10px;
    }
    td {
      padding:10px;
      label {
        font-weight: bold;
      }
    }
  }
}