<div id="taskHistory" class="tab active">
      <br><br>
			<h1>Task History</h1>

			<table style="width:100%">
  				<tr>
    				<th>Task</th>
    				<th>Owner</th> 
    				<th>Rating</th>
    				<th>Status</th>

  				</tr>
  				{{#each tasklist}}
            <tr>
              <td>{{this.title}}</td>
              <td>{{this.poster.firstName}} {{this.poster.lastName}}</td>
              <td>{{this.state}}</td>
              <td>Rating</td><!-- Need to get the review for the task if completed-->
            </tr>
          {{/each}}
			</table>


</div>