<!-- Create the footer banner-->
  <div id="footer">
  <a id=facebookLink href="https://www.facebook.com"> Facebook </a>
  <a id=twitter href="https://www.twitter.com"> Twitter </a>
  <a id=legal href="https://www.google.com"> Legal </a>
  <a id=projectInfo href="https://www.google.com"> Project Information </a>
  <a ide=contactInfo href="https://www.google.com"> Contact Us </a>
  Copyright (c) 2016 V-Inverse Inc. All rights reserved
</div> 