<!--Title banner and menu bar-->
<nav class="navbar">
  <div class="container-fluid">
    <div class="row">
      <div class="titleBanner">
        <p class="titleText">Reciprocal Volunteerism Network</p>
      </div>
      <div class="container-fluid" style="background: #c7e6b5; font-weight: bold" >
          <div class="row">
              <div class="col-md-10">
                  <ul class="nav navbar-nav">
                      <li><a href="/home" id="home_nav">Home</a></li>
                      <li><a href="#" id="reviews_nav" name={{user._id}}>Reviews</a></li>
                      <li><a href="#" id="taskHistory_nav" name={{user._id}}>Volunteer History</a></li>
                      <li><a href="#" id="currentTasks_nav" name={{user._id}}>Current Opportunities</a></li>
                      <li><a href="/user" id="profile_nav" name={{user._id}}>My Profile</a></li>
                  </ul>
              </div>
              <div class="col-md-2">
                  <ul class="nav navbar-nav">
                      <li><a href="/logout">Log Out</a></li>
                  </ul>
              </div>
          </div>

      </div>
      <div>
        <div class="row">
          <div class="col-lg-12">
            <h3 class="text-center" style="background: #c7e6b5">If you prefer, you may call <u>416-689-2144</u> to speak to a customer service representative to assist you.</h3>
          </div>
        </div>
      </div>
<style>
.panel-heading {
    background: #9bd17d;
}
</style>

<!-- Create a form that will be used search for a task or create a new task -->
<div class="form-actions">
  <button type="submit" class="createButton" id="createNewTask">Create New Task</button>
  <style>
    .form-actions {
                    text-align: right;
                  }
  </style>
</div>  

<br>

<!--Search bar-->
<div class="container-fluid">
  <div class="row">
    <div class="input-group">
      <div class="searchBar">
        <input type="text" class="searchBox searchBar" id="searchTerm" name="searchTerm" placeholder="Search for a task...">
        <select class="typeDropdown">
            <option value="allType">All Type</option>
            <option value="offerType">Offering</option>
            <option value="requestType">Requesting</option>
          </select>
        <select class="catDropdown">
            <option value="allCategories">All Categories</option>
            <option value="academicCat">Academic</option>
            <option value="artisticCat">Artistic</option>
            <option value="basicLabourCat">Basic Labour</option>
            <option value="mechanicalCat">Mechanical</option>
            <option value="technicalCat">Technical</option>
          </select>
          <button class="searchButton" type="button" id="submit_search">Search</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div class="container">

	<style>
.container {
    background: #9bd17d;
}
</style>
</div>
<script src="/javascripts/searchScript.js"></script>