<!DOCTYPE html>
  <html lang="en">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src = "/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <head>
    <meta charset="utf-8">
    <title>V-Inverse:Connecting Youth and Older Adults</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, intial-scale=1">
  </head>
  <body>
    {{> header}}
    {{{body}}}
    {{> footer}}
  </body>
  </html>