<div class="container-fluid" style="background: #c7e6b5;" >
    <ul class="nav navbar-nav">
          <li><a href="#" id="homepage_nag" name={{user._id}}>Homepage</a></li>
          <li><a href="#" id="aboutUs_nav" name={{user._id}}>About Us</a></li>
      </ul>
</div>
<div>
  <div class="container-fluid" style="background: #9bd17d;" >
    <h2 style="font-weight: bold;">
      Create a Task
    </h2>
  </div>
  <br>
  <div id="progressBar">
    <ul class="arrows">
      <li id="navTaskDetails" style="font-weight: bold; color: grey">1. Task Details</li>
      <li id="navLocation" style="font-weight: bold; color: grey">2. Location</li>
      <li id="navDateandDuration" style="font-weight: bold; color: grey">3. Date and Duration</li>
      <li id="navPreviewAd" style="font-weight: bold; color: grey">4. Preview Ad</li>
    </ul>
  </div>
  <div style="width: 80%;">
    <div style="width: 100%;">
      <div id="headingTaskDetails" class="container-fluid" style="background: #9bd17d;">
        <h3 align="left" style="font-weight: bold;">
          1. Task Details
        </h3>
      </div>
      <div id="headingLocation" class="container-fluid" style="background: #9bd17d;" >
        <h3 align="left" style="font-weight: bold;">
          2. Location
        </h3>
      </div>
      <div id="headingDateandDuration"class="container-fluid" style="background: #9bd17d;" >
        <h3 align="left" style="font-weight: bold;">
          3. Date and Duration
        </h3>
      </div>
      <div id="headingPreviewAd"class="container-fluid" style="background: #9bd17d;" >
        <h3 align="left" style="font-weight: bold;">
          4. Preview Ad
        </h3>
      </div>
    </div>
    <div class="container-fluid" style="width: 80%">
      <form id = "createTask_form">
      <div id="TaskDetails" class= "container-fluid">

          <table style="max-width: 80%; height: 300px">
            <tr>
              <td class="col1" style="vertical-align: text-top;">
              <label for="taskType">Task Type: *</label>
              </td>
              <td class="col2" style="vertical-align: text-top;">
                <table>
                  <tr>
                    <td>
                      <input type="radio" name="taskType" value="offering" checked> I am offering the following service<br>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="radio" name="taskType" value="requesting"> I am requesting someone to help me with the following service<br>
                      <br>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: text-top;">
                <label for="taskCategory">Task Category: *</label>
                <br><br>
              </td>
              <td class="col2" style="vertical-align: text-top;">
                <select name="category" id="category">
                  <option value="technical">Technical</option>
                  <option value="basicLabor">Basic Labor</option>
                  <option value="mechanical">Mechanical</option>
                  <option value="academic">Academic</option>
                  <option value="artistic">Artistic</option>
                  <option value="other">other</option>
                </select>
                <br><br>
              </td>
            </tr>
            <tr>
              <td class="col1" style="vertical-align: text-top;">
                <label for="taskTitle">Task Title: *</label>
              </td>
              <td class="col2" style="vertical-align: text-top;">
                <input id="tbtaskTitle" type="text" name="taskTitle" style="width: 100%">
                <br><br>
              </td>
            </tr>
            <tr>
              <td class="col1" style="vertical-align: text-top;">
                <label for="taskDescription">Description: *</label>
              </td>
              <td class="col2" style="vertical-align: text-top;">
                <input id="taskDescription" type="text" name="taskDescription" align="top" style="height: 100px; width: 100%;">
                </input>
                <br><br>
              </td>
            </tr>
          </table>
          <table style="max-width: 80%;">
            <tr>
              <td class="col1" >
                <button type="button" name="previousButton" disabled="disabled" hidden="hide"> Previous</button>
              </td>
              <td class="col2" align="right">
                <button type="button" name="nextButton" onclick="displayLocation()"> Next</button>
              </td>
            </tr>
          </table>

      </div>
      <div id="Location" class= "container-fluid">
        <table style="max-width: 80%; height: 300px">
          <tr>
            <td class="col1" style="vertical-align: text-top;">
              <label for="Location">Location: *</label>
            </td>
            <td class="col2" style="vertical-align: text-top;">
              <input id="Location" type="text" name="Location" style="width: 100%";>
            </td>
          </tr>
        </table>
        <table style="max-width: 80%;">
          <tr>
            <td class="col1">
              <button type="button" name="previousButton" onclick="displayTaskDetails()"> Previous</button>
            <td>
            <td class="col2" align="right">
              <button type="button" name="nextButton" onclick="displayDateandDuration()"> Next</button>
            </td>
          </tr>
        </table>
      </div>
      <div id="DateandDuration" class= "container-fluid">
        <table style="max-width: 80%; height: 20px">
          <tr>
            <td style="vertical-align: text-top;">
              How many days are you requesting the service?
            </td>
            <td style="vertical-align: text-top;">
              <input id="DaysRequestingService" type="number" name="Duration" min="1" max="30" step="1" value="1"/>
            </td> 
          </tr>
        </table>
        <br>
        <table style="max-width: 80%; height: 260px">
          <tr>
            <td class="col1" style="vertical-align: top">
              <label for="FromDate">From: *</label>
            </td>
            <td class="col2" style="vertical-align: top">
              <input type="date" name="FromDate"/>
              <br><br>
            </td>
          </tr>
          <tr>
            <td class="col1" style="vertical-align: top">
              <label for="ToDate">To: *</label>
            </td>
            <td class="col2" style="vertical-align: top">
              <input type="date" name="ToDate"/>
            </td>
          </tr>
        </table>
        <table style="max-width: 80%;">
          <tr>
            <td class="col1" style="vertical-align: text-top">
              <button type="button" name="previousButton" onclick="displayLocation()"> Previous</button>
            <td>
            <td class="col2" align="right">
              <button type="button" name="nextButton" onclick="displayPreviewAd()"> Next</button>
            </td>
          </tr>
        </table>
      </div>
      </form>
      <div id="PreviewAd" class= "container-fluid">
        <div style="overflow: hidden;">
          <h2 style="font-weight: bold;">
            TaskTitle
          </h2>
          <div style="max-width: 50%; float: left;">
            <table id="previewInformation1" style="max-width: 50%; height: 200px">
              <tr>
                <td>
                  <img id= "taskImg" style="height: 10%" src="https://pbs.twimg.com/profile_images/675002642196729857/A0OpcJpA.png"/>
                </td>
                <td>
                  <img id="mapImg" src="https://www.freemaptools.com/images/screen-shots/radius-around-point.jpg"/>
                </td>
              </tr>
            </table>
          </div>
          <div style="margin-left: 60%;">
            <table id="previewInformation2">
              <tr>
                <td>
                  Date Posted:
                </td>
                <td>
                  Current Date
                </td>
              </tr>
              <tr>
                <td>
                  Owner:
                </td>
                <td>
                  {{user.firstName}} 
                </td>     
              </tr>
            </table>
          </div>
        </div>
        <div>
          <div>
            <table id="previewInformation3" style="max-width: 80%;">
              <tr>
                <td>
                  <br>
                  <label> Description: </label>
                </td>
              </tr>
            </table>
          </div>
          <div>
            <table id="navButtons" style="max-width: 80%;">
              <tr>
                <td class="col1">
                  <button type="button" name="previousButton" onclick="displayDateandDuration()"> Previous</button>
                </td>
                <td class="col2" align="right">
                  <button type="button" id="confirmPost_button"> Confirm Post</button>
                </td>
              </tr>
            </table>
          </div
        </div>
      </div>
    </div>
  <div>
</div>
    <div id="confirm_dialog">
        <p>Are you sure you would like to post this ad?</p>
        <p>You may also delete your ad later.</p>
    </div>
<script src="/javascripts/createTaskScript.js"></script>