	
	<div class="container">
	<!-- Display a message with the phone line number in case the user wants to talk to a real operator instead -->
<div class="container-fluid" style = "text-center">     
  <div class="row">
  	<div class="col-lg-12">
	<h2 class="text-center">If you prefer, you may call 416-689-2144 to speak to a real human operator instead.</h2>
	</div>
    </div>
</div>
    <!-- Create a form that will be used search for a task or create a new task -->
<div class="container-fluid">     
  <div class="row">
  	<div class="col-lg-12">
		<div class="input-group">
   			<input type="text" class="form-control" id="searchterm" name="searchterm" placeholder="Search for a task..">
   			<span class="input-group-btn">
        		<button class="btn btn-default" type="button" id="submit_search">Search</button>
   			</span>
		</div>
    </div>
</div>

<div class="form-actions">
    <button type="submit" class="btn-lg" id="createNewTask">Create New Task</button>
    <Style>
    .form-actions {
    text-align: center;
	}
	</style>
</div>	


<script src="/javascripts/searchScript.js"></script>