	
	
	<div class="container">
	<!-- Display a message with the phone line number in case the user wants to talk to a real operator instead -->
	<h1 >If you prefer, call 416-689-2144 to speak to a human operator instead.</h1>
    <!-- Create a form that will be used search for a task or create a new task -->
    <h3>Search for a task using the search bar below.</h3>
    <form role="form">
        <div class="row">
            <div class="form-group">
                <input class="form-control input-lg" type="text" id="searchterm" name="searchterm" placeholder="Search for a task...">
            </div>
        </div>

        <div class="row">
           
        </div>
    </form>
     <button id="submit_search" type="submit" class="btn btn-default">Search</button>
     <br>
     <br>
     <img id=handsImage src="https://scontent-yyz1-1.xx.fbcdn.net/v/t31.0-8/15129414_10206849785117217_2284293189350513066_o.jpg?oh=ea3869569da0ee2aa9a15ef5cacadc90&oe=591C56DD" style="width:304px;height:228px;" />
</div>

<br>





<script src="/javascripts/searchScript.js"></script>