<!--Banner1-->
<div class="container-fluid" style="background: #9bd17d;" >
 <div class="container-fluid" style="
    padding-top: 10px; style="
    padding-bottom: 5px;>
 	<form name="login" id="login">
 		<table cellspacing="0" role="presentation" align="right" >
 			<tbody>
 				<tr>
 					<td class= "loginUser">
 						<label for= "userName"> Username:</label>
 					</td>
 					<td class= "loginUser">
 						<label for= "password">Password:</label>
 					</td>
 				</tr>
 				<tr>
 					<td>
 						<input id="userName" type="text" name="userName" tabindex="1">
 					</td>
 					<td>
 						<input id="password" type="password" name="password" tabindex="2">
 					</td>
 					<td>
 						<button id="login_button" type="button" action="login">Log In</button>
 					</td>
 				</tr>
 			</tbody>
 		</table>
 	</form>
  </div>
   </div>

<!--Banner2-->
<div class="container-fluid" style="background: #c7e6b5;">
 <h1 id="title" align="center" style="font-weight: bold">Reciprocal Volunteerism Network</h1>
 </div>

<!-- Display a message with the phone line number in case the user wants to talk to a real operator instead -->
<div id="mainBody" class="container" align="center">
	<div>
		<h2 style="color: red; font-weight: bold">
			Questions? Call us 1-888-888-8888
		</h2>
	</div>
	<br>
	<div>
		<table cellspacing="0" align="center">
			
 				<tr>
 					<td>
 						<img id=handsImage src="http://c4228740.r40.cf2.rackcdn.com/large-group-of-happy-people.jpg" style="width:304px;height:228px;" />
 					</td>
 					<td width=30px>
 					</td>
 					<td>
 						<table>
 							<tr>
 								<td align="center">
 									<h3 style="font-weight: bold">
 										New to us? <br>
 										Register today by <br>
 										clicking below <br>
 									</h3>
 								</td>
 							</tr>
 							<tr>
 								<td align="center">
 									<button id="createNewAccount" type="button">Register</button>
 								</td>
 							<tr>
 						</table>
 					<td>
 				</tr> 				
 		</table>
 	</div>
 	<br>
 	<br>
 	<div>
 		<h4 align="center"> 
 		Our mission is to bridge the gap between youth and older adults <br>
 		through the idea of volunteerism. Why not help each other out? <br>
 		Sign up today and make a difference.
 		</h4>
 	</div>
</form>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="/javascripts/loginScript.js"></script>
