<h1>Welcome to V-Inverse!</h1> 
 
<!-- Display a message with the phone line number in case the user wants to talk to a real operator instead -->

<h2> If you prefer, you may call 416-689-2144 to speak to a real human operator instead.</h2>

<a id=aboutUs href="https://en.wikipedia.org/wiki/Brown_bear">About V-Inverse </a>
<style>
body{
background-color:#90EE90;
}
</style>
<!-- Create a form that will be used to enter the username and password of the user -->
<form name="login" id="login">
	<p>Other sample text will go here.</p>
  
    <img id=handsImage src="https://scontent.xx.fbcdn.net/t31.0-8/15129414_10206849785117217_2284293189350513066_o.jpg" style="width:304px;height:228px;" />
    <!-- Username text box -->
	<label for="userName">Username: </label>  
	<input id="userName" type="text" name="userName">
	<label class="error" id="userName_Error" for="userName"></label>

    <!--Password text box -->
    <label for="password">Password</label>
    <input id="password" type="password" name="password">
    <label class="error" id="password_Error" for="password"></label>

	<!-- The login and create a new account buttons will each point to a different page once clicked on-->
	<button id="login_button" type="button">Login</button>
	<button id="createNewAccount" type="button">Create a New Account</button>
</form>
<script src="/javascripts/loginScript.js"></script>
