<h1> Login here </h1>
<form id="login_form" name="login_form">
	<label for="userName">Username: </label>
	<input type="text" id="userName" name="userName">
	<label for="password">Password</label>
	<input type="text" id="password" name="password">
	<input type="button" value="submit" id="submit_button">
</form>
{{error}}
<script src="/javascripts/loginScript.js"></script>