<h1>Here are some users who claim they are interested</h1>

<table>
    <tr>
        <th>User</th>
        <th>Description</th>
    </tr>
    {{#each potentialMatches}}
    <tr>
        <td style="display:none;">{{this.interestedUser.id}}</td>
        <td>{{this.interestedUser.name}}</td>
        <td>{{this.description}}</td>
        <td><button>Match me with this user</button></td>
    </tr>
    {{/each}}
</table>
<script src="/javascripts/potentialMatchesScript.js"></script>