<h1> Search for tasks here </h1>

<form name="search_bar" id="search_bar">
	<label for="searchterm">Search: </label>
	<input type="text" name="searchterm" id="searchbar"></input>
	<input type="button" name="search" id="search_button" value="Search"></button>
</form>
<script src="/javascripts/searchTasksScript.js" > </script>
