<h1>Tasklist Page</h1>
<form>
      <table align="center" name="searchQuery" id="searchQuery">
        <tr>
        	<button type="button" name="createTask" id="createTask">Create New Task</button>
        </tr>
    	<tr>
          	<td name="searchLabel" id="searchLabel">Search:</td>
          	<td><input type="text" name="searchEntry"></td>
          	<td><button type="searchButton" name="searchButton" id="searchButton">Search Tasks</button></td>
        </tr>
      </table>
      <!-- <table align="center" name="filter" id="filter"> 
        <tr>
            <td><input type="checkbox" name="filter01" value="01"/>Filter 01</td>
            <td><input type="checkbox" name="filter02" value="02"/>Filter 02</td>
            <td><input type="checkbox" name="filter03" value="03"/>Filter 03</td>
            <td><input type="checkbox" name="filter04" value="04"/>Filter 04</td>
            <td><input type="checkbox" name="filter05" value="05"/>Filter 04</td>
        </tr>
      </table> -->
</form>
<br>
<br>
 {{> taskListTable taskList=taskList}} 
<script src="/javascripts/taskListScript.js"></script>