<h1> Thank you for signing up with our service! </h1>
<p>Please return to the Login screen, to log into our website</p>

<button id="continue">Continue to Login</button>
<script src="/javascripts/thankyouScript.js"></script>