
<h1>Welcome to V-Inverse!</h1> 
<h2 >If you prefer, you may call 416-689-2144 to speak to a real human operator instead.</h2>

<div class="container-fluid">
		<ul class="nav navbar-nav">
        	<li><a id="reviews_nav">Reviews</a></li>
        	<li><a id="taskHistory_nav">Task History</a></li>
        	<li><a id="currentTasks_nav">Current Tasks</a></li>
        	<li class="active"><a id="profile_nav">Profile</a></li>
    	</ul>
</div>
<div id="partial_container">

	<h1> Current User Tasks will go here </h1>

</div>
<script src="/javascripts/userProfileScript.js"></script>

