<div class="container-fluid" style="background: #c7e6b5; font-weight: bold" >
    <ul class="nav navbar-nav">
          <li><a href="#" id="reviews_nav" name={{user._id}}>Reviews</a></li>
          <li><a href="#" id="taskHistory_nav" name={{user._id}}>Task History</a></li>
          <li><a href="#" id="currentTasks_nav" name={{user._id}}>Current Tasks</a></li>
          <li><a href="#" id="profile_nav" name={{user._id}}>Profile</a></li>
      </ul>
</div>
<br>
<div id="taskHistory" class="taskList_table">
	<div class= "container-fluid" style=" max-width: 80%; background: #9bd17d">
    <h1>Task History</h1>
  </div>
  <br>
  <div class= "container-fluid" style=" max-width: 80%;">
		<table style="width:100%;" border="2">
      	<tr>
      		<td style="background: #ececec;">
            <label id="historyTaskName style= "font-weight: bold">TaskName: </label>
          </td>
          <td>
            Help with Facebook
          </td>
        </tr>
        <tr>
      		<td style="backgorund: white;">
            <label id="historyTaskName style= "font-weight: bold"> Description: </label>
          </td>
          <td>
            I don't know how to post or share pictures on Facebook and would like some help learning.
          </td>
        </tr>
        <tr style="background: #ececec;">
          <td >
            <label id="historyTaskName style= "font-weight: bold"> Status: </label>
          </td>
          <td>
            Completed
          </td>
        </tr>
        <tr style="background: white;">
      		<td >
            <label id="historyTaskName style= "font-weight: bold"> Date posted: </label>
          </td>
          <td>
            January 12, 2017
          </td>
        </tr>
        <tr style= "background: #ececec">
          <td>
            <label id="historyTaskName style= "font-weight: bold"> Date completed: </label>
          </td>
          <td>
            January 21, 2017
          </td>
        </tr>
        <tr style="background: white;">
          <td >
            <label id="historyTaskName style= "font-weight: bold"> Matched with: </label>
          </td>
          <td>
            John Doe
          </td>
      	</tr>
		</table>
  </div>
</div>

<br>
<br>
<script src="/javascripts/userProfileScript.js"></script>
