<div class="container-fluid">
    <div class="col-lg-6" style="text-align: right">
        Filter by status:
    </div> 
    <div class="col-lg-6">
        <select>
            <option value="all">All</option>
            <option value="matched">Matched</option>
            <option value="pending">Pending</option>
        </select>
    </div>

    <br>
    <br>

    <div class="interestTaskHeader">
        <div class="col-lg-6">
            <p style="position: absolute; left: 10px; top: 10px">Task Name: <a href="www.google.ca">Actual task name</a></p>
        </div>
        <div class="col-lg-3">
            <p style="position: relative; top: 10px">Status</p>
        </div>
        <div class="col-lg-3">
            <p style="position: relative; top: 10px">Action</p>
        </div>
    </div>

    <div class="interestTaskContent">
        <div class="col-lg-6">
            <p style="position: relative; left: 10px; top: 10px">Task Name</p>
        </div>
        <div class="col-lg-3">
            <p style="position: relative; top: 10px">Status</p>
        </div>
        <div class="col-lg-3">
            <br>
            <br>
            <button type="button" class="deleteButton" id="deleteTask">Delete Task</button>
        </div>
    </div>
</div>


<script src="/javascripts/userProfileScript.js"></script>

